  

<section class="hero is-link is-fullheight-with-navbar">
   <div class="container">
      <div class="columns is-vcentered ">
         <div class="column is-8">
            <br>
            <div class=" column is-5  ">
               <figure class="image is-9by1">
                  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
               </figure>
            </div>

            <div class="content is-medium">
               <p>Es una plataforma de desarrollo, construida sobre <a
                     href="https://www.typescriptlang.org/">Typescript.</a> </p>
               <p>Como plataforma Angular incluye:</p>
               <ul>
                  <li> Un marco basado en componentes para crear aplicaciones web escalables.</li>
                  <li> Una colección de bibliotecas bien integradas que cubren una amplia variedad de características,
                     que incluyen enrutamiento, administración de formularios, comunicación cliente-servidor y más.</li>
                  <li> Un conjunto de herramientas de desarrollo para ayudarle a desarrollar, compilar, probar y
                     actualizar el código.</li>
               </ul>

            </div>
          
              
          
         </div>
         <div class="column">
           
             <br>
             <br> 
                    
              <div class="column is-three-half is-offset-one-quarter">     
               <div class="content is-medium">
                  <h4 class="subtitle">Cli Angular</h4>
                     <div class="box">
                        npm install @angular/cli
                     </div> 
                  </div>
              </div>
          </div>       
</div>
<div class="columns">
            <div class="column is-two-fifths">
               <div class="content is-medium">
                  <h4 class="title"> Desarrolle en todas las plataformas</h4>
                  <p class="text-body">
                     Aprenda una forma de crear aplicaciones con Angular y reutilice su código y capacidades para crear
                     aplicaciones para cualquier destino de implementación. Para web, web móvil, móvil nativo y escritorio
                     nativo.
                  </p>
   
               </div>
            </div>
            <div class="column">
               <br>
               <br>
               <br>
               <div class="column is-one-two is-offset-one-fifth">
               <button class=" button" href="https://angular.io/"><i class="fas fa-rocket fa-2x" style="color:rgb(216, 5, 5)"></i>
                  <b> GO TO ANGULAR </b>
               </button>
            </div>
            </div>
            <div class="column ">
               <figure class="image is-16by9">
                  <img src="https://angular.io/generated/images/marketing/home/responsive-framework.svg">
               </figure>
            </div>
         </div>

   </div>
</section>