  

<section class="hero is-link is-fullheight-with-navbar">
   <div class="container">
      <div class="columns is-vcentered ">
         <div class="column is-8">
            <br>
               <figure class="image is-9by1">
                  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
               </figure>

            <div class="content is-medium">
               <p>Micro Frontend </p>
               <button (click)="clickButton()">Obtener Valor Librería</button>
               <h1 style="color: white;"> {{valorTexto}}</h1>
               <input type="text" [(ngModel)]="valorSet"/>
               <button (click)="clickSet()">Actualizar Valor Librería</button>
            </div>
         </div>
      </div>       
   </div>
</section>