<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="static/ntt-data-logo.png">

  <title>Demo NTT Data</title>

  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <!-- <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"> -->
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->

  <% if (isLocal) { %>
    <script>
      window["baseHREFSingleSPA"] = "";
    </script>
    <% } else { %>
      <script>
        var arrayBaseHref = window.location.pathname.split("/");
        window["baseHREFSingleSPA"] = arrayBaseHref[1] && arrayBaseHref[1] != "" ? "/" + arrayBaseHref[1] || "" : "";
      </script>
      <% } %>

        <script type="systemjs-importmap">
    {
      "imports": {
        "react": "https://unpkg.com/react@17/umd/react.production.min.js",
        "react-dom": "https://unpkg.com/react-dom@17/umd/react-dom.production.min.js",
        "rxjs": "https://cdn.jsdelivr.net/npm/@esm-bundle/rxjs@6.6.0/system/es5/rxjs.min.js",
        "rxjs/operators": "https://cdn.jsdelivr.net/npm/@esm-bundle/rxjs@6.6.0/system/es5/rxjs-operators.min.js",
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      }
    }
  </script>
        <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
          as="script">

        <% if (!isLocal) { %>
          <script type="systemjs-importmap" src="<%= buildEnv.FE_IMPORTMAP_URL %>"></script>
          <% } else { %>
            <script type="systemjs-importmap">
    {
      "imports": {
        "@ntt/root-config":  "//localhost:9001/ntt-root-config.js", 
        "@ntt/navbar-react":"http://localhost:8081/ntt-navbar-react.js ",
        "@ntt/lib-utilitarias": "http://localhost:8085/nttdata-lib-utilitaria.js",
        "@ntt/fe-ng-base-mf":"http://localhost:4215/main.js", 
        "@ntt/page-react": "http://localhost:8082/ntt-page-react.js",
        "@ntt/fe-angular-page": "http://localhost:4216/main.js",
        "@ntt/fe-reactpage-mf":"http://localhost:8083/ntt-fe-reactpage-mf.js",
        "@ntt/react-utilidades-comunicacion":" http://localhost:8084/ntt-fe-react-utilidades-comunic.js",
        "@ntt/react-webc":" http://localhost:8089/ntt-fe-react-webc.js",
        "@ntt/fe-ng-util-com":"http://localhost:4230/main.js",
        "@ntt/fe-ng-ut-parametria":"http://localhost:4217/main.js",
        "@ntt/fe-ng-ut-wbcomponts":"http://localhost:4218/main.js",
        "@ntt/footer-react": "http://localhost:8080/ntt-footer-react.js"
        
      }
    }
  </script>
            <% } %>

              <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
              <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script>

              <script
                src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
              <% if (isLocal) { %>
                <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
                <% } else { %>
                  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
                  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
                  <% } %>

</head>

<body>

  <div>
    <application id="single-spa-application:@ntt/navbar-react"></application>
  </div>
<div style="height: 725px;overflow-y:scroll;">
  <div>
    <application id="single-spa-application:@ntt/fe-ng-base-mf"></application>
  </div>

  <div>
    <application id="single-spa-application:@ntt/page-react"></application>
  </div>

  <div>
    <aplication id="single-spa-application:@ntt/fe-reactpage-mf"></aplication>
  </div> 

  <div>
    <aplication id="single-spa-application:@ntt/fe-ng-ut-parametria"></aplication>
  </div>

  

  <div>
    <application id="single-spa-application:@ntt/fe-angular-page"></application>
  </div>

  <div>
    <div style="width: 50%; float: left; border: 2px solid blue">
      <aplication id="single-spa-application:@ntt/react-webc"></aplication>
    </div>
    <div style="width: 50%;float: left; border: 2px solid red">
        <aplication id="single-spa-application:@ntt/fe-ng-ut-wbcomponts"></aplication>
    </div>
  </div>

        
  
  <div>
    <div style="width: 50%; float: left; border: 2px solid blue">
      <application id="single-spa-application:@ntt/react-utilidades-comunicacion"></application>
    </div>
    <div style="width: 50%;float: left; border: 2px solid red">
      <application id="single-spa-application:@ntt/fe-ng-util-com"></application>
    </div>
  </div>
</div>
  <div>
    <application id="single-spa-application:@ntt/footer-react"></application>
  </div>


  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@ntt/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>