  <section class="hero is-link is-fullheight-with-navbar">
    <div style="padding-top: 50px;padding-left: 50px;">
      <div>
        <p class="title animate__animated animate__fadeInDown">
           Microfrontends WEB COMPONENT (Angular)
        </p>
      </div>
      <div style="padding-top: 50px; padding-left: 50px;" class="animate__animated animate__fadeInDown">
        <ui-card size="small">
          <img
              slot="header" src="https://via.placeholder.com/320x180" alt="alt imagen"/>
          <h3 slot="header" style="color: black; padding-left: 10px;">Prueba web components Angular</h3>
          <p slot="content" style="color: black; padding-left: 10px">Esta es una prueba de webcomponent en Angular</p>
          <a href="#" slot="footer">Read</a>   
        </ui-card>
      </div>
    </div>
</section>

